# Assignment 1: Data Parsing, Cleansing and Integration
## Task 1 and 2
#### Student Name: Ricky Truong
#### Student ID: s3783560

Date: 26/04/2024

Version: 1.0

Environment: Python 3 and Jupyter notebook

Libraries used: please include the main libraries you used in your assignment, e.g.,:
* pandas
* re
* numpy

## Introduction

In this notebook, we are tackling the problem of data parsing and cleaning, where we first parse an xml file into pandas. While doing so we discovered missing values, data irregularities and abnormalities within the data. We also had an instance of data integrity where the a month had a value of 18, indicating the 18th month. We resolved missing data and data irregularities and abnormalities, by imputating the values appropriately. For example mising string values where imputated with the string 'non-specific'. On the other hand ,data inconsistency were imputated with values that made the most sense, such as a range for salary were handled by imputating the value with the mean of the two values.

The second notebook, tackled the problem of data integration where we are integrating two similar datasets, which will be further discussed in the second notebook.

## Importing libraries

In [1]:
# Code to import libraries 
import pandas as pd
import numpy as np
import xml.etree.ElementTree as etree
from itertools import chain
import re 
import difflib #checks mispellings

## Task 1. Parsing Data

### 1.1. Examining and loading data
Examine "\<student\_id\>_dataset1.xml" to determine its content and structure, then load it into Python. Explain your findings here, e.g., how are the records are stored?

In [2]:

tree = etree.parse('s3783560_dataset1.xml') #loading the xml file
root = tree.getroot() #getting the root from the tree
print(root.tag)
print("_____________________________________")

#see how many child in the in the root and print them out 
for child in root:
    print(child)
print(len(root))

JobAds
_____________________________________
<Element 'Source' at 0x0000022DD17B1E00>
<Element 'Source' at 0x0000022DD18D8590>
<Element 'Source' at 0x0000022DD1A9E220>
<Element 'Source' at 0x0000022DD1F8DA40>
<Element 'Source' at 0x0000022DD1FA3040>
<Element 'Source' at 0x0000022DD20630E0>
<Element 'Source' at 0x0000022DD225C220>
<Element 'Source' at 0x0000022DD25E6A40>
<Element 'Source' at 0x0000022DD322EB80>
<Element 'Source' at 0x0000022DD32E6450>
<Element 'Source' at 0x0000022DD4032630>
<Element 'Source' at 0x0000022DD40AED10>
<Element 'Source' at 0x0000022DD40F2E50>
<Element 'Source' at 0x0000022DD41F4D10>
<Element 'Source' at 0x0000022DD42102C0>
<Element 'Source' at 0x0000022DD4720590>
<Element 'Source' at 0x0000022DD48B4B30>
<Element 'Source' at 0x0000022DD48C3A40>
<Element 'Source' at 0x0000022DD49EB860>
<Element 'Source' at 0x0000022DD4C66C70>
<Element 'Source' at 0x0000022DD4FC3D10>
<Element 'Source' at 0x0000022DD4FE80E0>
<Element 'Source' at 0x0000022DD50092C0>
<Element 'Source' at 0x0000022DD50137C0>
<Element 'Source' at 0x0000022DD50202C0>
<Element 'Source' at 0x0000022DD53EAC20>
<Element 'Source' at 0x0000022DD54FC2C0>
<Element 'Source' at 0x0000022DD554A130>
<Element 'Source' at 0x0000022DD55CC180>
<Element 'Source' at 0x0000022DD5A56680>
<Element 'Source' at 0x0000022DD5A77860>
<Element 'Source' at 0x0000022DD5AC5360>
<Element 'Source' at 0x0000022DD5C96400>
<Element 'Source' at 0x0000022DD5D891D0>
<Element 'Source' at 0x0000022DD5DAA220>
<Element 'Source' at 0x0000022DD5E47310>
<Element 'Source' at 0x0000022DD5F44680>
<Element 'Source' at 0x0000022DD5FBFE50>
<Element 'Source' at 0x0000022DD60470E0>
<Element 'Source' at 0x0000022DD60E5180>
<Element 'Source' at 0x0000022DD611FE00>
<Element 'Source' at 0x0000022DD6136C20>
<Element 'Source' at 0x0000022DD6161A40>
<Element 'Source' at 0x0000022DD61F5590>
<Element 'Source' at 0x0000022DD6226CC0>
<Element 'Source' at 0x0000022DD62884A0>
<Element 'Source' at 0x0000022DD62B5450>
<Element 'Source' at 0x0000022DD6349180>
<Element 'Source' at 0x0000022DD63738B0>
<Element 'Source' at 0x0000022DD63CE180>
<Element 'Source' at 0x0000022DD640D130>
<Element 'Source' at 0x0000022DD64C6B30>
<Element 'Source' at 0x0000022DD6541630>
<Element 'Source' at 0x0000022DD6593130>
<Element 'Source' at 0x0000022DD65C6E50>
<Element 'Source' at 0x0000022DD6605400>
<Element 'Source' at 0x0000022DD6626590>
<Element 'Source' at 0x0000022DD663FE00>
<Element 'Source' at 0x0000022DD6647D10>
<Element 'Source' at 0x0000022DD66599A0>
<Element 'Source' at 0x0000022DD6693040>
<Element 'Source' at 0x0000022DD66BEDB0>
<Element 'Source' at 0x0000022DD66D81D0>
<Element 'Source' at 0x0000022DD6753900>
<Element 'Source' at 0x0000022DD6776680>
<Element 'Source' at 0x0000022DD67F3CC0>
<Element 'Source' at 0x0000022DD680C4A0>
<Element 'Source' at 0x0000022DD683BCC0>
<Element 'Source' at 0x0000022DD68919F0>
<Element 'Source' at 0x0000022DD68B2630>
<Element 'Source' at 0x0000022DD68CCBD0>
<Element 'Source' at 0x0000022DD68DD950>
<Element 'Source' at 0x0000022DD6918590>
<Element 'Source' at 0x0000022DD69745E0>
<Element 'Source' at 0x0000022DD69AAC20>
<Element 'Source' at 0x0000022DD69E19F0>
<Element 'Source' at 0x0000022DD69EF5E0>
<Element 'Source' at 0x0000022DD69F5E50>
<Element 'Source' at 0x0000022DD6A15220>
<Element 'Source' at 0x0000022DD6A34630>
<Element 'Source' at 0x0000022DD6A53E50>
<Element 'Source' at 0x0000022DD6A600E0>
<Element 'Source' at 0x0000022DD6A60C20>
<Element 'Source' at 0x0000022DD6A76F90>
<Element 'Source' at 0x0000022DD6A9BBD0>
<Element 'Source' at 0x0000022DD6A9BEF0>
<Element 'Source' at 0x0000022DD6A9F9F0>
<Element 'Source' at 0x0000022DD6AB7450>
<Element 'Source' at 0x0000022DD6ABB040>
<Element 'Source' at 0x0000022DD6AC54F0>
<Element 'Source' at 0x0000022DD6ACDD10>
<Element 'Source' at 0x0000022DD6ACFF90>
<Element 'Source' at 0x0000022DD6ADC3B0>
<Element 'Source' at 0x0000022DD6ADF6D0>
<Element 'Source' at 0x0000022DD6AF3630>
<Element 'Source' at 0x0000022DD6AF9C70>
<Element 'Source' at 0x0000022DD6B01E50>
<Element 'Source' at 0x0000022DD6B057C0>
<Element 'Source' at 0x0000022DD6B07310>
<Element 'Source' at 0x0000022DD6B0B130>
<Element 'Source' at 0x0000022DD6B0B4A0>
<Element 'Source' at 0x0000022DD6B0DEF0>
<Element 'Source' at 0x0000022DD6B13950>
<Element 'Source' at 0x0000022DD6B15860>
<Element 'Source' at 0x0000022DD6B17040>
<Element 'Source' at 0x0000022DD6B18A40>
<Element 'Source' at 0x0000022DD6B18EA0>
107

In [3]:
# see how many grandchild in the the first child, in this case 668 grandchild
print(len(root[0]))
for child in root[0]:
    print(child)

668
<Element 'SourceName' at 0x0000022DD17B1E50>
<Element 'Position' at 0x0000022DD17B1EF0>
<Element 'Position' at 0x0000022DD17B7270>
<Element 'Position' at 0x0000022DD17B7540>
<Element 'Position' at 0x0000022DD17B7860>
<Element 'Position' at 0x0000022DD17B7B30>
<Element 'Position' at 0x0000022DD17B7EA0>
<Element 'Position' at 0x0000022DD17B81D0>
<Element 'Position' at 0x0000022DD17B84A0>
<Element 'Position' at 0x0000022DD17B87C0>
<Element 'Position' at 0x0000022DD17B8A90>
<Element 'Position' at 0x0000022DD17B8D60>
<Element 'Position' at 0x0000022DD17BA090>
<Element 'Position' at 0x0000022DD17BA360>
<Element 'Position' at 0x0000022DD17BA630>
<Element 'Position' at 0x0000022DD17BA950>
<Element 'Position' at 0x0000022DD17BAC70>
<Element 'Position' at 0x0000022DD17BAF40>
<Element 'Position' at 0x0000022DD17BB270>
<Element 'Position' at 0x0000022DD17BB590>
<Element 'Position' at 0x0000022DD17BB860>
<Element 'Position' at 0x0000022DD17BBB80>
<Element 'Position' at 0x0000022DD17BBE50>
<Element 'Position' at 0x0000022DD17BD180>
<Element 'Position' at 0x0000022DD17BD450>
<Element 'Position' at 0x0000022DD17BD770>
<Element 'Position' at 0x0000022DD17BDA40>
<Element 'Position' at 0x0000022DD17BDD10>
<Element 'Position' at 0x0000022DD17BF040>
<Element 'Position' at 0x0000022DD17BF360>
<Element 'Position' at 0x0000022DD17BF680>
<Element 'Position' at 0x0000022DD17BF950>
<Element 'Position' at 0x0000022DD17BFC20>
<Element 'Position' at 0x0000022DD17BFEF0>
<Element 'Position' at 0x0000022DD17C1270>
<Element 'Position' at 0x0000022DD17C1540>
<Element 'Position' at 0x0000022DD17C1810>
<Element 'Position' at 0x0000022DD17C1AE0>
<Element 'Position' at 0x0000022DD17C1E00>
<Element 'Position' at 0x0000022DD17C5130>
<Element 'Position' at 0x0000022DD17C5450>
<Element 'Position' at 0x0000022DD17C5720>
<Element 'Position' at 0x0000022DD17C59F0>
<Element 'Position' at 0x0000022DD17C5D10>
<Element 'Position' at 0x0000022DD17C7090>
<Element 'Position' at 0x0000022DD17C73B0>
<Element 'Position' at 0x0000022DD17C7680>
<Element 'Position' at 0x0000022DD17C79F0>
<Element 'Position' at 0x0000022DD17C7D10>
<Element 'Position' at 0x0000022DD17C9090>
<Element 'Position' at 0x0000022DD17C93B0>
<Element 'Position' at 0x0000022DD17C96D0>
<Element 'Position' at 0x0000022DD17C99A0>
<Element 'Position' at 0x0000022DD17C9CC0>
<Element 'Position' at 0x0000022DD17CB040>
<Element 'Position' at 0x0000022DD17CB310>
<Element 'Position' at 0x0000022DD17CB630>
<Element 'Position' at 0x0000022DD17CB900>
<Element 'Position' at 0x0000022DD17CBBD0>
<Element 'Position' at 0x0000022DD17CBF40>
<Element 'Position' at 0x0000022DD17CD2C0>
<Element 'Position' at 0x0000022DD17AFC70>
<Element 'Position' at 0x0000022DD17CD7C0>
<Element 'Position' at 0x0000022DD17CDA90>
<Element 'Position' at 0x0000022DD17CDD60>
<Element 'Position' at 0x0000022DD17CF090>
<Element 'Position' at 0x0000022DD17CF3B0>
<Element 'Position' at 0x0000022DD17CF680>
<Element 'Position' at 0x0000022DD17CF950>
<Element 'Position' at 0x0000022DD17CFC70>
<Element 'Position' at 0x0000022DD17CFF90>
<Element 'Position' at 0x0000022DD17D12C0>
<Element 'Position' at 0x0000022DD17D15E0>
<Element 'Position' at 0x0000022DD17D1900>
<Element 'Position' at 0x0000022DD17D1BD0>
<Element 'Position' at 0x0000022DD17D1EA0>
<Element 'Position' at 0x0000022DD17D3270>
<Element 'Position' at 0x0000022DD17D3590>
<Element 'Position' at 0x0000022DD17D3860>
<Element 'Position' at 0x0000022DD17D3B80>
<Element 'Position' at 0x0000022DD17D3E50>
<Element 'Position' at 0x0000022DD17D4180>
<Element 'Position' at 0x0000022DD17D4450>
<Element 'Position' at 0x0000022DD17D4720>
<Element 'Position' at 0x0000022DD17D49F0>
<Element 'Position' at 0x0000022DD17D4CC0>
<Element 'Position' at 0x0000022DD17D7040>
<Element 'Position' at 0x0000022DD17D7310>
<Element 'Position' at 0x0000022DD17D7630>
<Element 'Position' at 0x0000022DD17D7900>
<Element 'Position' at 0x0000022DD17D7C20>
<Element 'Position' at 0x0000022DD17D7EF0>
<Element 'Position' at 0x0000022DD17D9270>
<Element 'Position' at 0x0000022DD17D9540>
<Element 'Position' at 0x0000022DD17D9860>
<Element 'Position' at 0x0000022DD17D9B30>
<Element 'Position' at 0x0000022DD17D9E50>
<Element 'Position' at 0x0000022DD17DB180>
<Element 'Position' at 0x0000022DD17DB450>
<Element 'Position' at 0x0000022DD17DB770>
<Element 'Position' at 0x0000022DD17DBA90>
<Element 'Position' at 0x0000022DD17DBD60>
<Element 'Position' at 0x0000022DD17DC090>
<Element 'Position' at 0x0000022DD17DC3B0>
<Element 'Position' at 0x0000022DD17DC680>
<Element 'Position' at 0x0000022DD17DC950>
<Element 'Position' at 0x0000022DD17DCC70>
<Element 'Position' at 0x0000022DD17DCF90>
<Element 'Position' at 0x0000022DD17DF310>
<Element 'Position' at 0x0000022DD17DF5E0>
<Element 'Position' at 0x0000022DD17DF8B0>
<Element 'Position' at 0x0000022DD17DFB80>
<Element 'Position' at 0x0000022DD17DFEA0>
<Element 'Position' at 0x0000022DD18011D0>
<Element 'Position' at 0x0000022DD18014A0>
<Element 'Position' at 0x0000022DD18017C0>
<Element 'Position' at 0x0000022DD1801AE0>
<Element 'Position' at 0x0000022DD1801E00>
<Element 'Position' at 0x0000022DD18031D0>
<Element 'Position' at 0x0000022DD18034A0>
<Element 'Position' at 0x0000022DD18037C0>
<Element 'Position' at 0x0000022DD1803AE0>
<Element 'Position' at 0x0000022DD1803DB0>
<Element 'Position' at 0x0000022DD18040E0>
<Element 'Position' at 0x0000022DD18043B0>
<Element 'Position' at 0x0000022DD1804680>
<Element 'Position' at 0x0000022DD18049A0>
<Element 'Position' at 0x0000022DD1804C70>
<Element 'Position' at 0x0000022DD1804F40>
<Element 'Position' at 0x0000022DD1806270>
<Element 'Position' at 0x0000022DD1806540>
<Element 'Position' at 0x0000022DD1806860>
<Element 'Position' at 0x0000022DD1806B30>
<Element 'Position' at 0x0000022DD1806E00>
<Element 'Position' at 0x0000022DD1809130>
<Element 'Position' at 0x0000022DD1809450>
<Element 'Position' at 0x0000022DD1809770>
<Element 'Position' at 0x0000022DD1809A40>
<Element 'Position' at 0x0000022DD1809D60>
<Element 'Position' at 0x0000022DD180C090>
<Element 'Position' at 0x0000022DD180C360>
<Element 'Position' at 0x0000022DD180C630>
<Element 'Position' at 0x0000022DD180C950>
<Element 'Position' at 0x0000022DD180CC20>
<Element 'Position' at 0x0000022DD180CEF0>
<Element 'Position' at 0x0000022DD180E220>
<Element 'Position' at 0x0000022DD180E540>
<Element 'Position' at 0x0000022DD180E810>
<Element 'Position' at 0x0000022DD180EAE0>
<Element 'Position' at 0x0000022DD180EDB0>
<Element 'Position' at 0x0000022DD180F130>
<Element 'Position' at 0x0000022DD180F400>
<Element 'Position' at 0x0000022DD180F6D0>
<Element 'Position' at 0x0000022DD180F9A0>
<Element 'Position' at 0x0000022DD180FCC0>
<Element 'Position' at 0x0000022DD180FF90>
<Element 'Position' at 0x0000022DD1812310>
<Element 'Position' at 0x0000022DD1812630>
<Element 'Position' at 0x0000022DD1812900>
<Element 'Position' at 0x0000022DD1812BD0>
<Element 'Position' at 0x0000022DD1812EA0>
<Element 'Position' at 0x0000022DD18141D0>
<Element 'Position' at 0x0000022DD18144F0>
<Element 'Position' at 0x0000022DD18147C0>
<Element 'Position' at 0x0000022DD1814AE0>
<Element 'Position' at 0x0000022DD1814DB0>
<Element 'Position' at 0x0000022DD18160E0>
<Element 'Position' at 0x0000022DD18163B0>
<Element 'Position' at 0x0000022DD1816680>
<Element 'Position' at 0x0000022DD1816950>
<Element 'Position' at 0x0000022DD1816C70>
<Element 'Position' at 0x0000022DD1816F90>
<Element 'Position' at 0x0000022DD18182C0>
<Element 'Position' at 0x0000022DD1818590>
<Element 'Position' at 0x0000022DD18188B0>
<Element 'Position' at 0x0000022DD1818B80>
<Element 'Position' at 0x0000022DD1818E50>
<Element 'Position' at 0x0000022DD181A180>
<Element 'Position' at 0x0000022DD181A4A0>
<Element 'Position' at 0x0000022DD181A7C0>
<Element 'Position' at 0x0000022DD181AA90>
<Element 'Position' at 0x0000022DD181AD60>
<Element 'Position' at 0x0000022DD181C0E0>
<Element 'Position' at 0x0000022DD181C3B0>
<Element 'Position' at 0x0000022DD181C680>
<Element 'Position' at 0x0000022DD181C950>
<Element 'Position' at 0x0000022DD181CC20>
<Element 'Position' at 0x0000022DD181CEF0>
<Element 'Position' at 0x0000022DD181E220>
<Element 'Position' at 0x0000022DD181E540>
<Element 'Position' at 0x0000022DD181E810>
<Element 'Position' at 0x0000022DD181EB30>
<Element 'Position' at 0x0000022DD181EE50>
<Element 'Position' at 0x0000022DD1820180>
<Element 'Position' at 0x0000022DD18204A0>
<Element 'Position' at 0x0000022DD18207C0>
<Element 'Position' at 0x0000022DD1820AE0>
<Element 'Position' at 0x0000022DD1820E00>
<Element 'Position' at 0x0000022DD1821130>
<Element 'Position' at 0x0000022DD1821450>
<Element 'Position' at 0x0000022DD1821720>
<Element 'Position' at 0x0000022DD18219F0>
<Element 'Position' at 0x0000022DD1821CC0>
<Element 'Position' at 0x0000022DD1824040>
<Element 'Position' at 0x0000022DD1824310>
<Element 'Position' at 0x0000022DD1824630>
<Element 'Position' at 0x0000022DD1824950>
<Element 'Position' at 0x0000022DD1824C70>
<Element 'Position' at 0x0000022DD1826040>
<Element 'Position' at 0x0000022DD1826360>
<Element 'Position' at 0x0000022DD1826630>
<Element 'Position' at 0x0000022DD1826950>
<Element 'Position' at 0x0000022DD1826C20>
<Element 'Position' at 0x0000022DD1826EF0>
<Element 'Position' at 0x0000022DD1829270>
<Element 'Position' at 0x0000022DD1829590>
<Element 'Position' at 0x0000022DD1829860>
<Element 'Position' at 0x0000022DD1829B80>
<Element 'Position' at 0x0000022DD1829EA0>
<Element 'Position' at 0x0000022DD182A1D0>
<Element 'Position' at 0x0000022DD182A540>
<Element 'Position' at 0x0000022DD182A810>
<Element 'Position' at 0x0000022DD182AB30>
<Element 'Position' at 0x0000022DD182AE50>
<Element 'Position' at 0x0000022DD182D180>
<Element 'Position' at 0x0000022DD182D450>
<Element 'Position' at 0x0000022DD182D770>
<Element 'Position' at 0x0000022DD182DA40>
<Element 'Position' at 0x0000022DD182DD10>
<Element 'Position' at 0x0000022DD182F040>
<Element 'Position' at 0x0000022DD182F310>
<Element 'Position' at 0x0000022DD182F5E0>
<Element 'Position' at 0x0000022DD182F900>
<Element 'Position' at 0x0000022DD182FBD0>
<Element 'Position' at 0x0000022DD182FEA0>
<Element 'Position' at 0x0000022DD18311D0>
<Element 'Position' at 0x0000022DD18314A0>
<Element 'Position' at 0x0000022DD18317C0>
<Element 'Position' at 0x0000022DD1831AE0>
<Element 'Position' at 0x0000022DD1831E00>
<Element 'Position' at 0x0000022DD1833180>
<Element 'Position' at 0x0000022DD1833450>
<Element 'Position' at 0x0000022DD1833720>
<Element 'Position' at 0x0000022DD1833A40>
<Element 'Position' at 0x0000022DD1833DB0>
<Element 'Position' at 0x0000022DD1835130>
<Element 'Position' at 0x0000022DD18354A0>
<Element 'Position' at 0x0000022DD1835770>
<Element 'Position' at 0x0000022DD1835A40>
<Element 'Position' at 0x0000022DD1835D10>
<Element 'Position' at 0x0000022DD1837090>
<Element 'Position' at 0x0000022DD18373B0>
<Element 'Position' at 0x0000022DD1837680>
<Element 'Position' at 0x0000022DD1837950>
<Element 'Position' at 0x0000022DD1837C20>
<Element 'Position' at 0x0000022DD1837EF0>
<Element 'Position' at 0x0000022DD1839220>
<Element 'Position' at 0x0000022DD18394F0>
<Element 'Position' at 0x0000022DD18397C0>
<Element 'Position' at 0x0000022DD1839AE0>
<Element 'Position' at 0x0000022DD1839E00>
<Element 'Position' at 0x0000022DD183B180>
<Element 'Position' at 0x0000022DD183B4A0>
<Element 'Position' at 0x0000022DD183B770>
<Element 'Position' at 0x0000022DD183BA90>
<Element 'Position' at 0x0000022DD183BD60>
<Element 'Position' at 0x0000022DD183C090>
<Element 'Position' at 0x0000022DD183C360>
<Element 'Position' at 0x0000022DD183C630>
<Element 'Position' at 0x0000022DD183C950>
<Element 'Position' at 0x0000022DD183CC70>
<Element 'Position' at 0x0000022DD183CF90>
<Element 'Position' at 0x0000022DD183F2C0>
<Element 'Position' at 0x0000022DD183F590>
<Element 'Position' at 0x0000022DD183F860>
<Element 'Position' at 0x0000022DD183FB80>
<Element 'Position' at 0x0000022DD183FE50>
<Element 'Position' at 0x0000022DD18411D0>
<Element 'Position' at 0x0000022DD18414F0>
<Element 'Position' at 0x0000022DD18417C0>
<Element 'Position' at 0x0000022DD1841A90>
<Element 'Position' at 0x0000022DD1841DB0>
<Element 'Position' at 0x0000022DD18430E0>
<Element 'Position' at 0x0000022DD1843400>
<Element 'Position' at 0x0000022DD18436D0>
<Element 'Position' at 0x0000022DD18439A0>
<Element 'Position' at 0x0000022DD1843C70>
<Element 'Position' at 0x0000022DD1843F90>
<Element 'Position' at 0x0000022DD1845310>
<Element 'Position' at 0x0000022DD1845680>
<Element 'Position' at 0x0000022DD1845950>
<Element 'Position' at 0x0000022DD1845C70>
<Element 'Position' at 0x0000022DD1845F40>
<Element 'Position' at 0x0000022DD18472C0>
<Element 'Position' at 0x0000022DD18475E0>
<Element 'Position' at 0x0000022DD1847900>
<Element 'Position' at 0x0000022DD1847BD0>
<Element 'Position' at 0x0000022DD1847EA0>
<Element 'Position' at 0x0000022DD18491D0>
<Element 'Position' at 0x0000022DD18494A0>
<Element 'Position' at 0x0000022DD18497C0>
<Element 'Position' at 0x0000022DD1849A90>
<Element 'Position' at 0x0000022DD1849D60>
<Element 'Position' at 0x0000022DD184C090>
<Element 'Position' at 0x0000022DD184C360>
<Element 'Position' at 0x0000022DD184C680>
<Element 'Position' at 0x0000022DD184C950>
<Element 'Position' at 0x0000022DD184CC70>
<Element 'Position' at 0x0000022DD184CF40>
<Element 'Position' at 0x0000022DD184E2C0>
<Element 'Position' at 0x0000022DD184E5E0>
<Element 'Position' at 0x0000022DD184E900>
<Element 'Position' at 0x0000022DD184EC20>
<Element 'Position' at 0x0000022DD184EEF0>
<Element 'Position' at 0x0000022DD1850220>
<Element 'Position' at 0x0000022DD18504F0>
<Element 'Position' at 0x0000022DD1850810>
<Element 'Position' at 0x0000022DD1850AE0>
<Element 'Position' at 0x0000022DD1850E00>
<Element 'Position' at 0x0000022DD1852130>
<Element 'Position' at 0x0000022DD1852400>
<Element 'Position' at 0x0000022DD1852720>
<Element 'Position' at 0x0000022DD18529F0>
<Element 'Position' at 0x0000022DD1852CC0>
<Element 'Position' at 0x0000022DD1854040>
<Element 'Position' at 0x0000022DD1854310>
<Element 'Position' at 0x0000022DD1854630>
<Element 'Position' at 0x0000022DD1854950>
<Element 'Position' at 0x0000022DD1854C20>
<Element 'Position' at 0x0000022DD1854EF0>
<Element 'Position' at 0x0000022DD1856220>
<Element 'Position' at 0x0000022DD1856540>
<Element 'Position' at 0x0000022DD1856860>
<Element 'Position' at 0x0000022DD1856B30>
<Element 'Position' at 0x0000022DD1856E00>
<Element 'Position' at 0x0000022DD1858130>
<Element 'Position' at 0x0000022DD1858400>
<Element 'Position' at 0x0000022DD18586D0>
<Element 'Position' at 0x0000022DD18589F0>
<Element 'Position' at 0x0000022DD1858CC0>
<Element 'Position' at 0x0000022DD185A040>
<Element 'Position' at 0x0000022DD185A310>
<Element 'Position' at 0x0000022DD185A630>
<Element 'Position' at 0x0000022DD185A900>
<Element 'Position' at 0x0000022DD185ABD0>
<Element 'Position' at 0x0000022DD185AEA0>
<Element 'Position' at 0x0000022DD185C270>
<Element 'Position' at 0x0000022DD185C5E0>
<Element 'Position' at 0x0000022DD185C900>
<Element 'Position' at 0x0000022DD185CC20>
<Element 'Position' at 0x0000022DD185CF40>
<Element 'Position' at 0x0000022DD185E2C0>
<Element 'Position' at 0x0000022DD185E5E0>
<Element 'Position' at 0x0000022DD185E8B0>
<Element 'Position' at 0x0000022DD185EB80>
<Element 'Position' at 0x0000022DD185EE50>
<Element 'Position' at 0x0000022DD185F180>
<Element 'Position' at 0x0000022DD185F450>
<Element 'Position' at 0x0000022DD185F720>
<Element 'Position' at 0x0000022DD185F9F0>
<Element 'Position' at 0x0000022DD185FD10>
<Element 'Position' at 0x0000022DD1862090>
<Element 'Position' at 0x0000022DD1862360>
<Element 'Position' at 0x0000022DD1862630>
<Element 'Position' at 0x0000022DD1862900>
<Element 'Position' at 0x0000022DD1862BD0>
<Element 'Position' at 0x0000022DD1862EF0>
<Element 'Position' at 0x0000022DD1865220>
<Element 'Position' at 0x0000022DD1865540>
<Element 'Position' at 0x0000022DD1865860>
<Element 'Position' at 0x0000022DD1865B30>
<Element 'Position' at 0x0000022DD1865EA0>
<Element 'Position' at 0x0000022DD18671D0>
<Element 'Position' at 0x0000022DD18674A0>
<Element 'Position' at 0x0000022DD1867770>
<Element 'Position' at 0x0000022DD1867A90>
<Element 'Position' at 0x0000022DD1867D60>
<Element 'Position' at 0x0000022DD18690E0>
<Element 'Position' at 0x0000022DD1869400>
<Element 'Position' at 0x0000022DD1869720>
<Element 'Position' at 0x0000022DD1869A40>
<Element 'Position' at 0x0000022DD1869D10>
<Element 'Position' at 0x0000022DD186A090>
<Element 'Position' at 0x0000022DD186A3B0>
<Element 'Position' at 0x0000022DD186A680>
<Element 'Position' at 0x0000022DD186A950>
<Element 'Position' at 0x0000022DD186AC20>
<Element 'Position' at 0x0000022DD186AEF0>
<Element 'Position' at 0x0000022DD186D220>
<Element 'Position' at 0x0000022DD186D4F0>
<Element 'Position' at 0x0000022DD186D7C0>
<Element 'Position' at 0x0000022DD186DA90>
<Element 'Position' at 0x0000022DD186DD60>
<Element 'Position' at 0x0000022DD186F0E0>
<Element 'Position' at 0x0000022DD186F400>
<Element 'Position' at 0x0000022DD186F720>
<Element 'Position' at 0x0000022DD186FA40>
<Element 'Position' at 0x0000022DD186FD10>
<Element 'Position' at 0x0000022DD1871040>
<Element 'Position' at 0x0000022DD1871360>
<Element 'Position' at 0x0000022DD1871630>
<Element 'Position' at 0x0000022DD1871950>
<Element 'Position' at 0x0000022DD1871C70>
<Element 'Position' at 0x0000022DD1871F40>
<Element 'Position' at 0x0000022DD18732C0>
<Element 'Position' at 0x0000022DD1873590>
<Element 'Position' at 0x0000022DD1873860>
<Element 'Position' at 0x0000022DD1873B30>
<Element 'Position' at 0x0000022DD1873E00>
<Element 'Position' at 0x0000022DD1876130>
<Element 'Position' at 0x0000022DD1876400>
<Element 'Position' at 0x0000022DD18766D0>
<Element 'Position' at 0x0000022DD18769A0>
<Element 'Position' at 0x0000022DD1876CC0>
<Element 'Position' at 0x0000022DD1876F90>
<Element 'Position' at 0x0000022DD1878310>
<Element 'Position' at 0x0000022DD1878630>
<Element 'Position' at 0x0000022DD1878950>
<Element 'Position' at 0x0000022DD1878C70>
<Element 'Position' at 0x0000022DD1878F40>
<Element 'Position' at 0x0000022DD187A2C0>
<Element 'Position' at 0x0000022DD187A590>
<Element 'Position' at 0x0000022DD187A860>
<Element 'Position' at 0x0000022DD187AB80>
<Element 'Position' at 0x0000022DD187AE50>
<Element 'Position' at 0x0000022DD187B180>
<Element 'Position' at 0x0000022DD187B450>
<Element 'Position' at 0x0000022DD187B720>
<Element 'Position' at 0x0000022DD187B9F0>
<Element 'Position' at 0x0000022DD187BD10>
<Element 'Position' at 0x0000022DD187E040>
<Element 'Position' at 0x0000022DD187E310>
<Element 'Position' at 0x0000022DD187E630>
<Element 'Position' at 0x0000022DD187E9A0>
<Element 'Position' at 0x0000022DD187ECC0>
<Element 'Position' at 0x0000022DD1880040>
<Element 'Position' at 0x0000022DD1880310>
<Element 'Position' at 0x0000022DD18805E0>
<Element 'Position' at 0x0000022DD18808B0>
<Element 'Position' at 0x0000022DD1880BD0>
<Element 'Position' at 0x0000022DD1880EA0>
<Element 'Position' at 0x0000022DD18821D0>
<Element 'Position' at 0x0000022DD18824A0>
<Element 'Position' at 0x0000022DD1882770>
<Element 'Position' at 0x0000022DD1882A90>
<Element 'Position' at 0x0000022DD1882DB0>
<Element 'Position' at 0x0000022DD18840E0>
<Element 'Position' at 0x0000022DD18843B0>
<Element 'Position' at 0x0000022DD1884720>
<Element 'Position' at 0x0000022DD18849F0>
<Element 'Position' at 0x0000022DD1884CC0>
<Element 'Position' at 0x0000022DD1886040>
<Element 'Position' at 0x0000022DD1886310>
<Element 'Position' at 0x0000022DD18865E0>
<Element 'Position' at 0x0000022DD18868B0>
<Element 'Position' at 0x0000022DD1886B80>
<Element 'Position' at 0x0000022DD1886E50>
<Element 'Position' at 0x0000022DD1888180>
<Element 'Position' at 0x0000022DD18884A0>
<Element 'Position' at 0x0000022DD1888770>
<Element 'Position' at 0x0000022DD1888A90>
<Element 'Position' at 0x0000022DD1888D60>
<Element 'Position' at 0x0000022DD188A0E0>
<Element 'Position' at 0x0000022DD188A3B0>

In [4]:
# see how many great grandchild in the grandchild
# as the first grandchild of each child does not have
# and children.
for child in root[78][1]:
    print(child)
print('_____________________________')
for child in root[0][1]:
    print (child)

<Element 'Id' at 0x0000022DD6A15360>
<Element 'Title' at 0x0000022DD6A153B0>
<Element 'Location' at 0x0000022DD6A15400>
<Element 'Company' at 0x0000022DD6A15450>
<Element 'ContractType' at 0x0000022DD6A154A0>
<Element 'ContractTime' at 0x0000022DD6A154F0>
<Element 'Category' at 0x0000022DD6A15540>
<Element 'Salary' at 0x0000022DD6A15590>
_____________________________
<Element 'Id' at 0x0000022DD17B1F40>
<Element 'Title' at 0x0000022DD17B1F90>
<Element 'Location' at 0x0000022DD17B7040>
<Element 'Company' at 0x0000022DD17B70E0>
<Element 'Category' at 0x0000022DD17B7180>
<Element 'Salary' at 0x0000022DD17B7220>

From the above code we can summarise that xml starts with the root called "JobAds", which contains 107 elements with the tag "Source". Within each "Source" element, so the grandchild of the root, it contains 2 different tags, named "SourceName" and "Position". There is exactly one "SourceName" element for every "Source" tag, that is it's parent. On the other hand, there can be x amount of "Position" element. In the case of the first "Source" element there is 667 "Position" elements and one "SourceName" element. Additionally, the position element contains no text but 2 attributes - 'OpenDate' and 'CloseDate'. 

Further examinations reveals that each position elements contains several child, that is the great grandchild of the root. The child of the 'Postion' element can be 'Id', 'Title', 'Location', 'Company', 'Category', 'Salary', 'ContractTime', 'ContractType'. From the above example, the 'Position' element does not contain the element 'ContractTime' and 'ContractDate', which suggest in some elements of 'Position', there can be missing elements.

### 1.2 Parsing data into the required format

<span style="color: red"> You might have complex notebook structure in this section, please feel free to create your own notebook structure. </span>

In [5]:
# Code to parse data

#set up lists and dictionary to create df
dataDict = {}
dataDict['Id'] = []
dataDict['Title'] = []
dataDict['Location'] = []
dataDict['Company'] = []
dataDict['Category'] = []
dataDict['Salary'] = []
dataDict['OpenDate'] = []
dataDict['CloseDate'] = []
dataDict['ContractTime'] = []
dataDict['SourceName'] = []
dataDict['ContractType'] = []

In [6]:
#handling of open and close date, since they are attributes of position
for elem in tree.iter(tag = 'Position'): # position has no text but attributes instead
    # .get obtains attributes of tag based on name of attribute
    open_date = elem.get('OpenDate', None)
    close_date = elem.get('CloseDate',None)
    dataDict['OpenDate'].append(open_date)
    dataDict['CloseDate'].append(close_date)

In [7]:
# This code block is to only parse the data in 'Position'
# e.g the elements 'Id', 'Title', 'Location', 'Company', 
# 'Category', 'Salary', 'ContractTime', 'ContractType'
# and checks for missing values

for child in root: # child of the root which is 107 "Source"
    #print('child',child)
    #print(len(child))
    for gc in child: # can see 'SourceName' and 'Position'
        if gc.tag == 'SourceName': # skip first element of every Source child element
            continue
        
        #False flags for possible missing values
        company = False
        salary = False
        contracttime = False
        contracttype = False
        
        
        for ggc in gc: # can see elements of positions e.g id, salary
            
            #append to relative dict
            dataDict[ggc.tag].append(ggc.text)
            
            #check if tag append is one of the missing tags
            if ggc.tag == "Company":
                company = True
            if ggc.tag == 'Salary':
                salary = True
            if ggc.tag == "ContractTime":
                contracttime = True
            if ggc.tag == 'ContractType':
                contracttype = True
            
        #append None to remaning missing elements in row element
        if company == False:
            dataDict['Company'].append(None)
        if salary == False:
            dataDict['Salary'].append(None)
        if contracttime == False:
            dataDict['ContractTime'].append(None)
        if contracttype == False:
            dataDict['ContractType'].append(None)

In [8]:
# This code block parse the 'SourceName'
# which is assume to apply for all 'Positions' tag
# under 'SourceName'

# list to hold all source names, should be 107
# which correspsonds to the all children of root 
Source = []
for elem in tree.iter(tag = 'SourceName'):
    Source.append(elem.text)
print(len(Source))


#get all position elements in source
#top element is always 'SourceName'
#hence the -1
lenOfSource = []
for i in root:
    lenOfSource.append(len(i) - 1)

#append Source[i] x lenOfSource[i] times
for i in range(len(Source)):
    for j in range(lenOfSource[i]):
        dataDict['SourceName'].append(Source[i])

107

In [9]:
#see length of each list
array_lengths = {key: len(value) for key, value in dataDict.items()}
print(array_lengths)

{'Id': 50703, 'Title': 50703, 'Location': 50703, 'Company': 50703, 'Category': 50703, 'Salary': 50703, 'OpenDate': 50703, 'CloseDate': 50703, 'ContractTime': 50703, 'SourceName': 50703, 'ContractType': 50703}

In [10]:
#create and print dataframe
df = pd.DataFrame(dataDict)
df

,Id,Title,Location,Company,Category,Salary,OpenDate,CloseDate,ContractTime,SourceName,ContractType
0,69249311,Development Management Team Manager,North West England,Matchtech Group plc.,Engineering Jobs,41000,20131118T120000,20140117T120000,None,rengineeringjobs.com,None
1,70676070,Senior Civil Infrastructure Engineer,Basingstoke,Matchtech Group plc.,Engineering Jobs,32000,20130602T150000,20130616T150000,None,rengineeringjobs.com,None
2,68805528,Highway Technician,UK,Matchtech Group plc.,Engineering Jobs,19500,20121224T150000,20130123T150000,None,rengineeringjobs.com,None
3,71684871,Combustion Engineer Surrey And London upto ****k,London,Randstad,Engineering Jobs,33500,20121019T120000,20130117T120000,permanent,rengineeringjobs.com,None
4,67944676,Automation Service Manager,Stockton-On-Tees,Matchtech Group plc.,Engineering Jobs,45000,20120503T120000,20120517T120000,None,rengineeringjobs.com,None
...,...,...,...,...,...,...,...,...,...,...,...
50698,69266023,Registered Estate Manager,West Sussex,Forces Recruitment Services Ltd,Healthcare & Nursing Jobs,28500,20130502T000000,20130601T000000,permanent,jobsinsocialwork.co.uk,full_time
50699,68824603,First Level Nurses RGN/RMN,South Yorkshire,Online Resourcing,Healthcare & Nursing Jobs,24480,20130224T120000,20130425T120000,permanent,jobsinsocialwork.co.uk,full_time
50700,68635664,First Level Nurses RGN/RMN,South Yorkshire,Online Resourcing,Healthcare & Nursing Jobs,24480,20130224T120000,20130425T120000,permanent,jobsinsocialwork.co.uk,full_time
50701,72342177,Head of Estates Maintenance,London,Finegreen Associates,Healthcare & Nursing Jobs,50599,20130131T000000,20130214T000000,contract,hsjjobs.com,-
50702,66372417,Graduate Engineer (Water industry),South Lanarkshire,Carrington West Limited,Engineering Jobs,20000,20130119T000000,20130419T000000,contract,thegraduate.co.uk,full_time

......

## Task 2. Auditing and cleansing the loaded data

Here, you should write your own code to audit data, identify data problems and to fix them. You are also required to record the errors found and fixings in an error list.

<span style="color: red"> You might have complex notebook structure in this section, please feel free to create your own notebook structure. </span>

In [11]:
# function to update/insert into error list
def updateErlist(indexOfdf,Id,ColumnName,Original, Modified, ErrorType, Fixing):
    erlistItem = [indexOfdf,Id,ColumnName,Original, Modified, ErrorType, Fixing]
    errlist.loc[len(errlist)] = erlistItem

In [12]:


#error create and recorder
itemlist = ['indexOfdf', 'Id', 'ColumnName', 'Original', 'Modified', 'ErrorType', 'Fixing']
errlist = pd.DataFrame(columns = itemlist)
errlist

Empty DataFrame
Columns: [indexOfdf, Id, ColumnName, Original, Modified, ErrorType, Fixing]
Index: []

In [13]:
# Code to audit data
#See the data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50703 entries, 0 to 50702
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            50703 non-null  object
 1   Title         50703 non-null  object
 2   Location      50703 non-null  object
 3   Company       49678 non-null  object
 4   Category      50703 non-null  object
 5   Salary        49953 non-null  object
 6   OpenDate      50703 non-null  object
 7   CloseDate     50703 non-null  object
 8   ContractTime  48935 non-null  object
 9   SourceName    50703 non-null  object
 10  ContractType  36572 non-null  object
dtypes: object(11)
memory usage: 4.3+ MB

### 2.1 Missing Values

The following sections and subhheadings will deal with all missing values, that is values that are defined missing via the panda function isnull(). The following subheadings besides the last sbuheading will be used to update our error dataframe, with the appropriate values.

In [14]:
#number of missing values corresponding to column
df.isnull().sum()

Id                  0
Title               0
Location            0
Company          1025
Category            0
Salary            750
OpenDate            0
CloseDate           0
ContractTime     1768
SourceName          0
ContractType    14131
dtype: int64

#### 2.1.1 Missing values -  Salary

In [15]:
#create sub datafram that where Salary is null
df[df['Salary'].isnull()].head()

,Id,Title,Location,Company,Category,Salary,OpenDate,CloseDate,ContractTime,SourceName,ContractType
5247,70656318,Junior Campaign Manager,West Midlands,AF SELECTION,"PR, Advertising & Marketing Jobs",None,20120903T150000,20121003T150000,permanent,jobs.guardian.co.uk,full_time
5268,68384975,PA required for Maternity Cover in well establ...,London,VICTORIA WALL ASSOCIATES,Accounting & Finance Jobs,None,20120323T000000,20120422T000000,contract,jobs.guardian.co.uk,full_time
5271,71878134,Sociology Teacher South London,Central London,CLASSROOM LTD,Teaching Jobs,None,20130111T150000,20130312T150000,contract,jobs.guardian.co.uk,full_time
5285,69643671,Integrated Account Manager,Manchester,NETWORK MARKETING,"PR, Advertising & Marketing Jobs",None,20130803T000000,20131002T000000,permanent,jobs.guardian.co.uk,full_time
5286,71854711,Teaching Assistant (AF****N),Essex,THORPEDENE PRIMARY SCHOOL,Teaching Jobs,None,20130827T120000,20130910T120000,contract,jobs.guardian.co.uk,part_time

In [16]:
#assign index of null salary values to a list
index_list = df.index[df['Salary'].isnull()].tolist()
print(len(index_list))

750

In [17]:
#assign value of 'Id' column that contains missing value to list
filter_df= df[df['Salary'].isnull()]
id_list = filter_df['Id'].values.tolist()
print(len(id_list))

750

In [18]:
#update errlist with respectively id and index
for i in range(len(index_list)):
    updateErlist(index_list[i], id_list[i], 'Salary', 'NULL', '0.00','missing values','change NULL to 0.00 ')

In [19]:
#confirming errlist df
print(errlist.shape)
errlist.head()

(750, 7)

,indexOfdf,Id,ColumnName,Original,Modified,ErrorType,Fixing
0,5247,70656318,Salary,NULL,0.00,missing values,change NULL to 0.00
1,5268,68384975,Salary,NULL,0.00,missing values,change NULL to 0.00
2,5271,71878134,Salary,NULL,0.00,missing values,change NULL to 0.00
3,5285,69643671,Salary,NULL,0.00,missing values,change NULL to 0.00
4,5286,71854711,Salary,NULL,0.00,missing values,change NULL to 0.00

#### 2.1.2 Missing values - Company

In [20]:
#assign index of null salary values to a list
index_list = df.index[df['Company'].isnull()].tolist()
print(len(index_list))

1025

In [21]:
#assign value of 'Id' column that contains missing value to list
filter_df= df[df['Company'].isnull()]
id_list = filter_df['Id'].values.tolist()
print(len(id_list))

1025

In [22]:
#update errlist with respectively id and index
for i in range(len(index_list)):
    updateErlist(index_list[i], id_list[i], 'Company', 'NULL', '0.00','missing values','change NULL to "non-specific" ')

In [23]:
print(errlist.shape)
errlist.tail()

(1775, 7)

,indexOfdf,Id,ColumnName,Original,Modified,ErrorType,Fixing
1770,42559,66071697,Company,NULL,0.00,missing values,"change NULL to ""non-specific"""
1771,50652,69005978,Company,NULL,0.00,missing values,"change NULL to ""non-specific"""
1772,50653,72121207,Company,NULL,0.00,missing values,"change NULL to ""non-specific"""
1773,50654,68223651,Company,NULL,0.00,missing values,"change NULL to ""non-specific"""
1774,50655,70769728,Company,NULL,0.00,missing values,"change NULL to ""non-specific"""

#### 2.1.3 Missing values - ContractTime

In [24]:
#assign index of null salary values to a list
index_list = df.index[df['ContractTime'].isnull()].tolist()
print(len(index_list))

1768

In [25]:
#assign value of 'Id' column that contains missing value to list
filter_df= df[df['ContractTime'].isnull()]
id_list = filter_df['Id'].values.tolist()
print(len(id_list))

1768

In [26]:
#update errlist with respectively id and index
for i in range(len(index_list)):
    updateErlist(index_list[i], id_list[i], 'ContractTime', 'NULL', '0.00','missing values','change NULL to "non-specific" ')

In [27]:
print(errlist.shape)
errlist.tail()

(3543, 7)

,indexOfdf,Id,ColumnName,Original,Modified,ErrorType,Fixing
3538,50671,70166343,ContractTime,NULL,0.00,missing values,"change NULL to ""non-specific"""
3539,50672,68390853,ContractTime,NULL,0.00,missing values,"change NULL to ""non-specific"""
3540,50673,70578116,ContractTime,NULL,0.00,missing values,"change NULL to ""non-specific"""
3541,50674,71557306,ContractTime,NULL,0.00,missing values,"change NULL to ""non-specific"""
3542,50677,69610658,ContractTime,NULL,0.00,missing values,"change NULL to ""non-specific"""

#### 2.1.4 Missing values - ContractType

In [28]:
#assign index of null salary values to a list
index_list = df.index[df['ContractType'].isnull()].tolist()
print(len(index_list))

14131

In [29]:
#assign value of 'Id' column that contains missing value to list
filter_df= df[df['ContractType'].isnull()]
id_list = filter_df['Id'].values.tolist()
print(len(id_list))

14131

In [30]:
#update errlist with respectively id and index
for i in range(len(index_list)):
    updateErlist(index_list[i], id_list[i], 'ContractType', 'NULL', '0.00','missing values','change NULL to "non-specific" ')

In [31]:
print(errlist.shape)
errlist.tail()

(17674, 7)

,indexOfdf,Id,ColumnName,Original,Modified,ErrorType,Fixing
17669,50683,69610671,ContractType,NULL,0.00,missing values,"change NULL to ""non-specific"""
17670,50684,69610683,ContractType,NULL,0.00,missing values,"change NULL to ""non-specific"""
17671,50685,72609869,ContractType,NULL,0.00,missing values,"change NULL to ""non-specific"""
17672,50686,69610641,ContractType,NULL,0.00,missing values,"change NULL to ""non-specific"""
17673,50687,72609821,ContractType,NULL,0.00,missing values,"change NULL to ""non-specific"""

#### 2.1.5 Missing values - Cleaning all missing values

In [32]:
#fill in a string datatypes as 'nonspecific' and Salary as '0.0' as it will be a float datatype
df = df.fillna({'Company': 'non-specific','Salary':'0.00', 'ContractTime': 'non-specific', 'ContractType': 'non-specific'})
df.isnull().sum()

Id              0
Title           0
Location        0
Company         0
Category        0
Salary          0
OpenDate        0
CloseDate       0
ContractTime    0
SourceName      0
ContractType    0
dtype: int64

## 2.2 Duplication

This section will detect and clean any duplicated values in the dataset

In [33]:
duplicated = df.duplicated(keep = False)
df[duplicated]

Empty DataFrame
Columns: [Id, Title, Location, Company, Category, Salary, OpenDate, CloseDate, ContractTime, SourceName, ContractType]
Index: []

The empty duplicated dataset, suggests that there are no duplicate rows within the dataset. Hence no further action is required

## 2.3 Inconsistency/ Mispellings

Section 2.3 will explore the possibiliies of any misspelt values as well as inconsistent values. It will first record these errors in the error datafrae before cleaning these errors appropriately.

### 2.3.1 - ContractTime

In [34]:
#checking values count of ContractTime
df['ContractTime'].value_counts()

permanent       30324
                 6981
contract         5579
N/A              4060
-                1991
non-specific     1768
Name: ContractTime, dtype: int64

From the above value_counts(), we can see that there are data inconsistency, as ContractTime can only take the values 'permanent', 'contract' or 'non-specific'. We assume an empty string, 'N/A' and '-', represent missing values and should be replaced with 'non-specific'

#### 2.3.1.1 ContractTime - "N/A"

In [35]:
#create a sub dataframe where cell value = N/A
#will be used to obtain idx and Id for errlist
df_contractTime_na = df[df['ContractTime']== "N/A"]
print(df_contractTime_na.shape)
df_contractTime_na.head()

(4060, 11)

,Id,Title,Location,Company,Category,Salary,OpenDate,CloseDate,ContractTime,SourceName,ContractType
6384,66743073,Customer Accounts Advisor,Harlow,BrightHouse,Accounting & Finance Jobs,14918,20130119T120000,20130320T120000,N/A,Jobcentre Plus,full_time
6385,66748090,Systems Documentation Author,Knutsford,N/A,IT Jobs,26000,20120329T150000,20120428T150000,N/A,Jobcentre Plus,full_time
6386,71794556,Field Sales Executive Positions in Norwich and...,Norwich,N/A,Sales Jobs,38400,20120729T000000,20120927T000000,N/A,Jobcentre Plus,full_time
6387,69552813,Database Engineer,Macclesfield,Three way solutions,IT Jobs,29000,20130816T120000,20131015T120000,N/A,Jobcentre Plus,full_time
6388,68449576,Registered Nurse (RGN)(D) Barchester Healthcare,London,Barchester Healthcare Plc,Healthcare & Nursing Jobs,23040,20130427T000000,20130527T000000,N/A,Jobcentre Plus,full_time

In [36]:
#assign index of null salary values to a list
index_list = df.index[df['ContractTime'] == 'N/A'].tolist()
print(len(index_list))

4060

In [37]:
#assign value of 'Id' column that contains missing value to list
id_list = df_contractTime_na['Id'].values.tolist()
print(len(id_list))

4060

In [38]:
#update errlist with respectively id and index
for i in range(len(index_list)):
    updateErlist(index_list[i], id_list[i], 'ContractTime', 'N/A', 'non-specific','data abnormality','change N/A to "non-specific" ')

In [39]:
#replace N/A in ContractTime column to non-specific in df
df['ContractTime'].replace('N/A','non-specific', inplace = True)

In [40]:
#confirm the change
df['ContractTime'].value_counts()

permanent       30324
                 6981
non-specific     5828
contract         5579
-                1991
Name: ContractTime, dtype: int64

#### 2.3.1.2 ContractTime - " "

In [41]:
#create sub df where ContractTime == " "
df_contractTime_empty = df[df['ContractTime']== " "]
print(df_contractTime_empty.shape)

(6981, 11)

In [42]:
#Same steps as in 2.3.1.1 with the exception of the value 

#getting all indexs and id where value of ContractTime == " "
index_list = df.index[df['ContractTime'] == " "].tolist()
print(len(index_list))

id_list = df_contractTime_empty['Id'].values.tolist()
print(len(id_list))

6981
6981

In [43]:
#update errlist with respectively id and index
for i in range(len(index_list)):
    updateErlist(index_list[i], id_list[i], 'ContractTime', ' ', 'non-specific','data abnormality','change " " to "non-specific" ')

In [44]:
#replace " " in ContractTime column to non-specific in df
df['ContractTime'].replace(" ",'non-specific', inplace = True)

In [45]:
#confirm the change
df['ContractTime'].value_counts()

permanent       30324
non-specific    12809
contract         5579
-                1991
Name: ContractTime, dtype: int64

#### 2.3.1.3 ContractTime - "-"

In [46]:
#create sub df where ContractTime == "-"
df_contractTime_hyphen = df[df['ContractTime']== "-"]
print(df_contractTime_hyphen.shape)

(1991, 11)

In [47]:
#Same steps as in 2.3.1.1 with the exception of the value 

#getting all indexs and id where value of ContractTime == "-"
index_list = df.index[df['ContractTime'] == "-"].tolist()
print(len(index_list))

id_list = df_contractTime_hyphen['Id'].values.tolist()
print(len(id_list))

1991
1991

In [48]:
#update errlist with respectively id and index
for i in range(len(index_list)):
    updateErlist(index_list[i], id_list[i], 'ContractTime', '-', 'non-specific','data abnormality','change "-" to "non-specific" ')

In [49]:
#replace "-" in ContractTime column to non-specific in df
df['ContractTime'].replace("-",'non-specific', inplace = True)

In [50]:
#confirm the change
df['ContractTime'].value_counts()

permanent       30324
non-specific    14800
contract         5579
Name: ContractTime, dtype: int64

###  2.3.2 - ContractType

In [51]:
df['ContractType'].value_counts()

non-specific    14131
-               13164
full_time       11755
                 8154
N/A              1984
part_time        1515
Name: ContractType, dtype: int64

From the above value_counts(), we can see that there are data abnormality, as ContractTypes can only take the values 'fill_time', 'part_time' or 'non-specific'. We assume an empty string, 'N/A' and '-', represent missing values and should be replaced with 'non-specific'

#### 2.3.2.1  ContractType - "N/A"

In [52]:
#create sub df where ContractType == "N/A"
df_contractType_NA = df[df['ContractType']== "N/A"]
print(df_contractType_NA.shape)

(1984, 11)

In [53]:
#Same steps as in ContractTime 

#getting all indexs and id where value of ContractType == "N/A"
index_list = df.index[df['ContractType'] == "N/A"].tolist()
print(len(index_list))

id_list = df_contractType_NA['Id'].values.tolist()
print(len(id_list))

1984
1984

In [54]:
#update errlist with respectively id and index
for i in range(len(index_list)):
    updateErlist(index_list[i], id_list[i], 'ContractType', 'N/A', 'non-specific','data abnormality','change "N/A" to "non-specific" ')

In [55]:
#replace "N/A" in ContractType column to non-specific in df
df['ContractType'].replace("N/A",'non-specific', inplace = True)
#confirm the change
df['ContractType'].value_counts()

non-specific    16115
-               13164
full_time       11755
                 8154
part_time        1515
Name: ContractType, dtype: int64

#### 2.3.2.2 ContractType - " "

In [56]:
#create sub df where ContractType == " "
df_contractType_empty = df[df['ContractType']== " "]
print(df_contractType_empty.shape)

(8154, 11)

In [57]:
#Same steps as above but with different values 

#getting all indexs and id where value of ContractType == " "
index_list = df.index[df['ContractType'] == " "].tolist()
print(len(index_list))

id_list = df_contractType_empty['Id'].values.tolist()
print(len(id_list))

8154
8154

In [58]:
#update errlist with respectively id and index
for i in range(len(index_list)):
    updateErlist(index_list[i], id_list[i], 'ContractType', ' ', 'non-specific','data abnormality','change " " to "non-specific" ')

In [59]:
#replace " " in ContractType column to non-specific in df
df['ContractType'].replace(" ",'non-specific', inplace = True)
#confirm the change
df['ContractType'].value_counts()

non-specific    24269
-               13164
full_time       11755
part_time        1515
Name: ContractType, dtype: int64

#### 2.3.2.3 ContractType - "-"

In [60]:
#create sub df where ContractType == "-"
df_contractType_hyphen = df[df['ContractType']== "-"]
print(df_contractType_hyphen.shape)

(13164, 11)

In [61]:
#Same steps as above but with different values 

#getting all indexs and id where value of ContractType == "-"
index_list = df.index[df['ContractType'] == "-"].tolist()
print(len(index_list))

id_list = df_contractType_hyphen['Id'].values.tolist()
print(len(id_list))

13164
13164

In [62]:
#update errlist with respectively id and index
for i in range(len(index_list)):
    updateErlist(index_list[i], id_list[i], 'ContractType', '-', 'non-specific','data abnormality','change "-" to "non-specific" ')

In [63]:
#replace "-" in ContractType column to non-specific in df
df['ContractType'].replace("-",'non-specific', inplace = True)
#confirm the change
df['ContractType'].value_counts()

non-specific    37433
full_time       11755
part_time        1515
Name: ContractType, dtype: int64

### 2.3.3 Company

In [64]:
df['Company'].value_counts()

N/A                             2381
-                               1485
non-specific                    1025
                                 440
UKStaffsearch                    434
                                ...
Pertemps Redditch Industrial       1
Comfort Care Services  Ltd         1
STR Health Ltd                     1
MENCAP Relief Bank                 1
LANDERS RECRUITMENT                1
Name: Company, Length: 8674, dtype: int64

From the above value_counts(), we can see that there are data abnormality, as Company can only take real words as values. The above suggests that there is a number of instances where the values of 'Company' is - 'N/A', '-' or " ". This suggests that these values are missing and need to be replaced with 'non-specific'.

#### 2.3.3.1 Company - "N/A"

In [65]:
#create sub df where Company == "N/A"
df_company_NA = df[df['Company']== "N/A"]
print(df_company_NA.shape)

(2381, 11)

In [66]:
#Same steps as above but with different values 

#getting all indexs and id where value of Company == "N/A"
index_list = df.index[df['Company'] == "N/A"].tolist()
print(len(index_list))

id_list = df_company_NA['Id'].values.tolist()
print(len(id_list))

2381
2381

In [67]:
#update errlist with respectively id and index
for i in range(len(index_list)):
    updateErlist(index_list[i], id_list[i], 'Company', 'N/A', 'non-specific','data abnormality','change "N/A" to "non-specific" ')

In [68]:
#replace "N/A" in Company column to non-specific in df
df['Company'].replace("N/A",'non-specific', inplace = True)
#confirm the change
df['Company'].value_counts()

non-specific                        3406
-                                   1485
                                     440
UKStaffsearch                        434
Randstad                             368
                                    ...
Harris Lord Group                      1
Edf Energy                             1
Robert Gordon University               1
Aston Wade                             1
Edge UK Recruitment Services Ltd       1
Name: Company, Length: 8673, dtype: int64

#### 2.3.3.2 Company - " "

In [69]:
#create sub df where Company == " "
df_company_empty = df[df['Company']== " "]
print(df_company_empty.shape)

(440, 11)

In [70]:
#Same steps as above but with different values 

#getting all indexs and id where value of Company == " "
index_list = df.index[df['Company'] == " "].tolist()
print(len(index_list))

id_list = df_company_empty['Id'].values.tolist()
print(len(id_list))

440
440

In [71]:
for i in range(len(index_list)):
    updateErlist(index_list[i], id_list[i], 'Company', ' ', 'non-specific','data abnormality','change " " to "non-specific" ')

In [72]:
#replace " " in Company column to non-specific in df
df['Company'].replace(" ",'non-specific', inplace = True)
#confirm the change
df['Company'].value_counts()

non-specific                           3846
-                                      1485
UKStaffsearch                           434
Randstad                                368
CVbrowser                               309
                                       ...
STR Health Ltd                            1
MENCAP Relief Bank                        1
Resourcing/Talent Management Centre       1
CONNAUGHT RESOURCING                      1
LANDERS RECRUITMENT                       1
Name: Company, Length: 8672, dtype: int64

#### 2.3.3.3 Company - "-"

In [73]:
#create sub df where Company == "-"
df_company_hyphen = df[df['Company']== "-"]
print(df_company_hyphen.shape)

(1485, 11)

In [74]:
#Same steps as above but with different values 

#getting all indexs and id where value of Company == "-"
index_list = df.index[df['Company'] == "-"].tolist()
print(len(index_list))

id_list = df_company_hyphen['Id'].values.tolist()
print(len(id_list))

1485
1485

In [75]:
for i in range(len(index_list)):
    updateErlist(index_list[i], id_list[i], 'Company', '-', 'non-specific','data abnormality','change "-" to "non-specific" ')

In [76]:
#replace "-" in Company column to non-specific in df
df['Company'].replace("-",'non-specific', inplace = True)
#confirm the change
df['Company'].value_counts()

non-specific                        5331
UKStaffsearch                        434
Randstad                             368
CVbrowser                            309
Matchtech Group plc.                 230
                                    ...
Edf Energy                             1
Robert Gordon University               1
Aston Wade                             1
Trinity Nursing Services               1
Edge UK Recruitment Services Ltd       1
Name: Company, Length: 8671, dtype: int64

### 2.3.4 Salary

In [77]:
salary_df = df['Salary'].astype(str).apply(lambda value:re.findall(r'\D+\.?\D*',value)) #gets everything but numbers
salary_df.value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                47746
[.]                 953
[-]                 674
[ ]                 575
[N/A]               300
[ to ]              100
[ - ]               100
[/year]             100
[ per annum]        100
[K]                  50
[.,  per hour]        3
[.,  p/h]             2
Name: Salary, dtype: int64

From the code above we can see that there are some data abnormalities and irregularities. In this section we will deal with the data inconsistency where its values are - ' ', 'N/A', indicating that these are missing values and should be replaced with a floating value. Preferable 0.00 to indicate that it is missing. We will deal with the other irregularities in another section

#### 2.3.4.1 Salary- "N/A"

In [78]:
#create sub df where Salary == "N/A"
df_salary_NA = df[df['Salary']== "N/A"]
print(df_salary_NA.shape)

(300, 11)

In [79]:
#Same steps as other sections but with different values 

#getting all indexs and id where value of Salary == "N/A"
index_list = df.index[df['Salary'] == "N/A"].tolist()
print(len(index_list))

id_list = df_salary_NA['Id'].values.tolist()
print(len(id_list))

300
300

In [80]:
#update errlist
for i in range(len(index_list)):
    updateErlist(index_list[i], id_list[i], 'Salary', 'N/A', '0.00','data abnormality','change "N/A" to 0.00 ')

In [81]:
#replace "N/A" in Salary column to 0.00 in df
df['Salary'].replace("N/A",'0.00', inplace = True)
#confirm the change
salary_df = df['Salary'].astype(str).apply(lambda value:re.findall(r'\D+\.?\D*',value)) #gets everything but numbers
salary_df.value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                47746
[.]                1253
[-]                 674
[ ]                 575
[ to ]              100
[ - ]               100
[/year]             100
[ per annum]        100
[K]                  50
[.,  per hour]        3
[.,  p/h]             2
Name: Salary, dtype: int64

#### 2.3.4.2 Salary - " "

In [82]:
#create sub df where Salary == " "
df_salary_empty = df[df['Salary']== " "]
print(df_salary_empty.shape)

(575, 11)

In [83]:
#Same steps as other sections but with different values 

#getting all indexs and id where value of Salary == " "
index_list = df.index[df['Salary'] == " "].tolist()
print(len(index_list))

id_list = df_salary_empty['Id'].values.tolist()
print(len(id_list))

575
575

In [84]:
#update errlist
for i in range(len(index_list)):
    updateErlist(index_list[i], id_list[i], 'Salary', ' ', '0.00','data abnormality','change " " to 0.00 ')

In [85]:
#replace " " in Salary column to 0.00 in df
df['Salary'].replace(" ",'0.00', inplace = True)
#confirm the change
salary_df = df['Salary'].astype(str).apply(lambda value:re.findall(r'\D+\.?\D*',value)) #gets everything but numbers
salary_df.value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                47746
[.]                1828
[-]                 674
[ to ]              100
[ - ]               100
[/year]             100
[ per annum]        100
[K]                  50
[.,  per hour]        3
[.,  p/h]             2
Name: Salary, dtype: int64

#### 2.3.4.3 Salary- "-"

In [86]:
#create sub df where Salary == " "
df_salary_hyphen = df[df['Salary']== "-"]
print(df_salary_hyphen.shape)

(674, 11)

In [87]:
#Same steps as other sections but with different values 

#getting all indexs and id where value of Salary == "-"
index_list = df.index[df['Salary'] == "-"].tolist()
print(len(index_list))

id_list = df_salary_hyphen['Id'].values.tolist()
print(len(id_list))

674
674

In [88]:
#update errlist
for i in range(len(index_list)):
    updateErlist(index_list[i], id_list[i], 'Salary', '-', '0.00','data abnormality','change "-" to 0.00 ')

In [89]:
#replace "-" in Salary column to 0.00 in df
df['Salary'].replace("-",'0.00', inplace = True)
#confirm the change
salary_df = df['Salary'].astype(str).apply(lambda value:re.findall(r'\D+\.?\D*',value)) #gets everything but numbers
salary_df.value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                47746
[.]                2502
[ to ]              100
[ - ]               100
[/year]             100
[ per annum]        100
[K]                  50
[.,  per hour]        3
[.,  p/h]             2
Name: Salary, dtype: int64

### 2.3.5 - Category

In [90]:
df['Category'].value_counts()

IT Jobs                             13132
Healthcare & Nursing Jobs            8184
Engineering Jobs                     7200
Accounting & Finance Jobs            6802
Sales Jobs                           4743
Hospitality & Catering Jobs          4530
Teaching Jobs                        3558
PR, Advertising & Marketing Jobs     2554
Name: Category, dtype: int64

From the value_counts() we can see that there is no data abnormality in the category column, hence no further actions are required.

### 2.3.6 Location

In [91]:
df['Location'].value_counts()

UK                   7623
London               6607
South East London    2687
The City             1129
Central London        830
                     ...
Oxfords                 2
BRISTOL                 2
Leads                   2
HAMpshire               1
Manchaster              1
Name: Location, Length: 489, dtype: int64

From the above code, we can see that there are some mispellings and formatting errors with some of the names such as: cembridge which is asusmed to be Cambridge and HAMpshire which is assume to be Hampshire. The naming convention we choose to apply to the 'Location' column of be to capitalise the first letter of every word.

In [92]:
df['Location'] = df['Location'].str.title() #title() captialises the first letter of every word in a string
df['Location'].value_counts()

Uk                   7623
London               6609
South East London    2687
The City             1129
Central London        830
                     ...
Leads                   2
Oxfords                 2
Cembridge               2
Livepool                2
Manchaster              1
Name: Location, Length: 484, dtype: int64

In [93]:
#update er list for captitalisation
updateErlist('ALL', 'ALL', 'Location', 'ALL', 'ALL','string format','captilised the first letter of every word in the string')

This fixes the string formatting error, but there still remains some mispellings.

In [94]:
#check mispellings of Livepool against other locations in df for a close match that is not Livepool
difflib.get_close_matches('Livepool', set(df['Location']).difference(['Livepool']),n=3)

['Liverpool']

In [95]:
#same as above but for Cembridge
difflib.get_close_matches('Cembridge', set(df['Location']).difference(['Cembridge']))
#best match is Cambridge

['Cambridge', 'Weybridge', 'Uxbridge']

In [96]:
#same as above but for Manchaster
difflib.get_close_matches('Manchaster', set(df['Location']).difference(['Manchaster']))
#best match is Manchester

['Manchester', 'Lancaster', 'Doncaster']

In [97]:
#get all index and Id values where mispelling of Livepool is located
df_mispelling = df[df['Location']== 'Livepool']
index_list = df.index[df['Location'] == "Livepool"].tolist()
id_list = df_mispelling['Id'].values.tolist()
#update errlist
for i in range(len(index_list)):
    updateErlist(index_list[i], id_list[i], 'Location', 'Livepool', 'Liverpool','mispelling','change Livepool to Liverpool')

In [98]:
#get all index and Id values where mispelling of  Cembridge is located
df_mispelling = df[df['Location']== 'Cembridge']
index_list = df.index[df['Location'] == "Cembridge"].tolist()
id_list = df_mispelling['Id'].values.tolist()
#update errlist
for i in range(len(index_list)):
        updateErlist(index_list[i], id_list[i], 'Location', 'Cembridge', 'Cambridge','mispelling','change Cembridge to Cambridge')

In [99]:
#get all index and Id values where mispelling of  Manchaster is located
df_mispelling = df[df['Location']== 'Manchaster']
index_list = df.index[df['Location'] == "Manchaster"].tolist()
id_list = df_mispelling['Id'].values.tolist()
print(len(index_list),len(id_list))
#update errlist
for i in range(len(index_list)):
        updateErlist(index_list[i], id_list[i], 'Location', 'Manchaster', 'Manchester','mispelling','change Manchaster to Manchester')

1 1

In [100]:
#fix the mispellings in the df
fix = {'Livepool' : 'Liverpool', 'Cembridge' : 'Cambridge', 'Manchaster': 'Manchester'}
df['Location'].replace(fix,inplace = True)

#confirm change
print(df['Location'].value_counts())

Uk                   7623
London               6609
South East London    2687
The City             1129
Central London        830
                     ...
Oldbury                 8
Chipping Campden        8
North Finchley          7
Oxfords                 2
Leads                   2
Name: Location, Length: 481, dtype: int64

## 2.4 Irregularities

This section will explore data irregularties where in the dataset, there exists data irregularities. They will also be recoreded in the error dataframe and clean appropriately.

### 2.4.1 Salary

In [101]:
new_df = df['Salary'].astype(str).apply(lambda value:re.findall(r'\D+\.?\D*',value)) #gets everything but numbers
#new_df = df['Salary'].apply(lambda value:re.findall(r'.+to.+D*',value)) # gets (5000 to 40000)
#new_df = df['Salary'].apply(lambda value:re.findall(r'\d+\..+',value)) # gets floating point numbers
#new_df = df['Salary'].apply(lambda value:re.findall(r'.+-.+',value)) # gets values such as (56000 - 256000)

new_df.value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                47746
[.]                2502
[ to ]              100
[ - ]               100
[/year]             100
[ per annum]        100
[K]                  50
[.,  per hour]        3
[.,  p/h]             2
Name: Salary, dtype: int64

From the value count of the 'Salary' column above we can the irregularities in the values. Some are just a number, some values are a range while others have an hourly rate. The data type of the "Salary" column is a float hence we need to fix the values from a string or object to a floating point number. The value in "Salary" should indicate the salary per year for that position as a floating point number.

### 2.4.1.1 Salary - "K", " per annum" and "/year"

To deal with the "K" within the value, we simple replace "K" with "000" as a "K", means per thousand. To fix "per annum" and "/year" we just replace the string with whitespace as the number in front of the phrase 'per annum' and '/year' suggests a yearly salary. This can be confirmed by checking the xml file.

In [102]:
df['Salary'] = df['Salary'].astype(str).apply(lambda value:re.sub('per annum','',value))
df['Salary'] = df['Salary'].astype(str).apply(lambda value:re.sub('K','000',value))
df['Salary'] = df['Salary'].astype(str).apply(lambda value:re.sub('/year','',value))

In [103]:
#confirm change
new_df = df['Salary'].astype(str).apply(lambda value:re.findall(r'\D+\.?\D*',value)) #gets everything but numbers
new_df.value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                47896
[.]                2502
[ to ]              100
[ - ]               100
[ ]                 100
[.,  per hour]        3
[.,  p/h]             2
Name: Salary, dtype: int64

### 2.4.1.1 Salary - "to" and "-"

Salaries with 'to' and - indicated a range. To fix this, we will grab the mean of the two values and replace it with that. If the code blocks do not work, it suggests that NULL values have not been dealt with, and section 2.1 will need to be run first before this section is ran.

In [104]:
#This code block deals with the irregularity of 'x-x' where x are floating point numbers, indicating a range for salary. 
#It replaces the code range with the mean of the two values

#create lists to hold values to update errlist
index_list = []
id_list = []
original_list = []
new_list = []
for index, value in df['Salary'].items(): # gets index and value of the cell in Salary
    match = re.match(r'(.+)-(.+)',value) # returns a match object (the string. length, groups) or None if there is not  match
    if match:
        #append id,index and original value to respective lists for err list uprate
        index_list.append(index)
        id_list.append(df.loc[index,'Id'])
        original_list.append(str(match.string))
        
        #calculate new value
        average = int(match.group(1)) + int(match.group(2)) / 2
        
        #append new value to list to update errlist
        new_list.append(str(average))
        
        #update with new value
        df.loc[index, 'Salary'] = re.sub(r'(.+)-(.+)', str(average), value)

In [105]:
#update errlist
for i in range(len(index_list)):
        updateErlist(index_list[i], id_list[i], 'Salary', original_list[i], new_list[i],'data irregularity','change the range to the mean of the two values')

In [106]:
#This code block deals with the irregularity of 'x to x' where x are floating point numbers, indicating a range for salary.
#It replaces the code range with the mean of the two values. Same as x-x, but with a different pattern

#create lists to hold values to update errlist
index_list = []
id_list = []
original_list = []
new_list = []
for index, value in df['Salary'].items(): # gets index and value of the cell in Salary
    match = re.match(r'(.+)to(.+)',value) # returns a match object (the string. length, groups) or None if there is not  match
    if match:
        #append id,index and original value to respective lists for err list uprate
        index_list.append(index)
        id_list.append(df.loc[index,'Id'])
        original_list.append(str(match.string))
        
        #calculate new value
        average = int(match.group(1)) + int(match.group(2)) / 2
        
        #append new value to list to update errlist
        new_list.append(str(average))
        
        #update with new value
        df.loc[index, 'Salary'] = re.sub(r'(.+)to(.+)', str(average), value)

In [107]:
#update errlist
for i in range(len(index_list)):
        updateErlist(index_list[i], id_list[i], 'Salary', original_list[i], new_list[i],'data irregularity','change the range to the mean value')

In [108]:
errlist.tail()

,indexOfdf,Id,ColumnName,Original,Modified,ErrorType,Fixing
60064,49491,69533817,Salary,43500 to 48500,67750.0,data irregularity,change the range to the mean value
60065,49566,71797868,Salary,29900 to 34900,47350.0,data irregularity,change the range to the mean value
60066,50319,71801601,Salary,25000 to 30000,40000.0,data irregularity,change the range to the mean value
60067,50334,69557592,Salary,25500 to 30500,40750.0,data irregularity,change the range to the mean value
60068,50467,68362841,Salary,37500 to 42500,58750.0,data irregularity,change the range to the mean value

In [109]:
#confirm change
new_df = df['Salary'].astype(str).apply(lambda value:re.findall(r'\D+\.?\D*',value)) #gets everything but numbers
new_df.value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                47896
[.]                2702
[ ]                 100
[.,  per hour]        3
[.,  p/h]             2
Name: Salary, dtype: int64

#### 2.4.1.2 Salary - "per hour" and "p/h"

To deal with the hourly rate we assume that there is 40 hours in one work week and 52 weeks in a year. To convert this to a yearly salary, we extract the hourly pay rate and multiply it first by 40 then 52 before replace the whole cell value with the result.

In [110]:
# This code block deals with the irregularity of "x, per hour where x is a floating point number. 
# It replaces the per hour rate by obtaining the floating point number, x, then multipling it by 
# 40 represetning, the avergae working hours in a week, before multiplying it by 52 - 
# the number of weeks in a year
# Formula used: x * 40 * 52, where x is the rate per hour.

#create lists to hold values to update errlist
index_list = []
id_list = []
original_list = []
new_list = []
for index, value in df['Salary'].items(): # gets index and value of the cell in Salary
    match = re.match(r'(\d+.?\d*).+per hour',value) # returns a match object (the string. length, groups) or None if there is not  match
    if match:
        #append id,index and original value to respective lists for err list uprate
        index_list.append(index)
        id_list.append(df.loc[index,'Id'])
        original_list.append(str(match.string))
        #calculate new value
        yearly_sal = float(match.group(1)) * 40 * 52 
        
        
        #append new value to list to update errlist
        new_list.append(yearly_sal)
        
        #update with new value
        df.loc[index, 'Salary'] = re.sub(r'(\d+.?\d*).+per hour', str(yearly_sal), value)

In [111]:
#update errlist
for i in range(len(index_list)):
        updateErlist(index_list[i], id_list[i], 'Salary', original_list[i], new_list[i],'data irregularity','multiply hourly rate by 40 and 52')

In [112]:
errlist.tail()

,indexOfdf,Id,ColumnName,Original,Modified,ErrorType,Fixing
60067,50334,69557592,Salary,25500 to 30500,40750.0,data irregularity,change the range to the mean value
60068,50467,68362841,Salary,37500 to 42500,58750.0,data irregularity,change the range to the mean value
60069,5200,68571131,Salary,11.63 per hour,24190.4,data irregularity,multiply hourly rate by 40 and 52
60070,11696,70758357,Salary,12.69 per hour,26395.2,data irregularity,multiply hourly rate by 40 and 52
60071,45540,69731349,Salary,11.0 per hour,22880,data irregularity,multiply hourly rate by 40 and 52

In [113]:
#confirm change
new_df = df['Salary'].astype(str).apply(lambda value:re.findall(r'\D+\.?\D*',value)) #gets everything but numbers
new_df.value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]           47896
[.]           2705
[ ]            100
[.,  p/h]        2
Name: Salary, dtype: int64

In [114]:
# This code block deals with the irregularity of "x, per p/h where x is a floating point number. 
# It replaces the per hour rate by obtaining the floating point number, x, then multipling it by 
# 40 represetning, the avergae working hours in a week, before multiplying it by 52 - 
# the number of weeks in a year
# Formula used: x * 40 * 52, where x is the rate per hour.

#create lists to hold values to update errlist
index_list = []
id_list = []
original_list = []
new_list = []
for index, value in df['Salary'].items(): # gets index and value of the cell in Salary
    match = re.match(r'(\d+.?\d*).+p/h',value) # returns a match object (the string. length, groups) or None if there is not  match
    if match:
        #append id,index and original value to respective lists for err list uprate
        index_list.append(index)
        id_list.append(df.loc[index,'Id'])
        original_list.append(str(match.string))
        #calculate new value
        yearly_sal = float(match.group(1)) * 40 * 52 
        
        
        #append new value to list to update errlist
        new_list.append(yearly_sal)
        
        #update with new value
        df.loc[index, 'Salary'] = re.sub(r'(\d+.?\d*).+p/h', str(yearly_sal), value)

In [115]:
#update errlist
for i in range(len(index_list)):
        updateErlist(index_list[i], id_list[i], 'Salary', original_list[i], new_list[i],'data irregularity','multiply hourly rate by 40 and 52')

In [116]:
#confirm change
new_df = df['Salary'].astype(str).apply(lambda value:re.findall(r'\D+\.?\D*',value)) #gets everything but numbers
new_df.value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]     47896
[.]     2707
[ ]      100
Name: Salary, dtype: int64

## 2.5 - Integrity

In this section we check if any integrity constraints have been broken. For exmaple in this dataset, we check to see if the the numeric value that represents months is greater than 12 as there cannot be 12 or more months. Simiarly, we check to see if the number of days exceed 31, we assume each month contains 31 days for simplicity sake.

We also check the date integrity constraint is broken that is, the closing date of the job position comes first before the opening date.

### 2.5.1 - Month Integrity

We check if any of the months in the date is more than 12.

In [117]:
#see if any months in OpenDate are greater than 12 that is the 5 and 6 digits
df['violated'] = df.apply(lambda row:int(re.search(r'(\d{4})(\d{2}).+',row['OpenDate']).group(2)) > 12  ,axis =1)
df[df['violated']] # empty means no violation

,Id,Title,Location,Company,Category,Salary,OpenDate,CloseDate,ContractTime,SourceName,ContractType,violated
45177,69122004,After Sales Marine Specialist Product Support,Berkshire,non-specific,Engineering Jobs,46000,20122808T120000,20120927T120000,permanent,jobs.telegraph.co.uk,non-specific,True

From the df we can see that the row at index 45177 has a violation, where the month number is the 28th month which doesn't exist. We set the default month to 12.

In [118]:
#set values of month number to 12
applied_indices = df[df['violated']].index
for ind in applied_indices:
    month = int(re.search(r'(\d{4})(\d{2}).+',df.loc[ind,'OpenDate']).group(2)) # find the month date
    df.loc[ind,'OpenDate'] = re.sub(str(month),"12", df.loc[ind, 'OpenDate']) # using that month date replace it with '12'

In [119]:
#check to see if the replacement worked
df['violated'] = df.apply(lambda row:int(re.search(r'(\d{4})(\d{2}).+',row['OpenDate']).group(2)) > 12  ,axis =1)
#empty means no more violation
df[df['violated']]

Empty DataFrame
Columns: [Id, Title, Location, Company, Category, Salary, OpenDate, CloseDate, ContractTime, SourceName, ContractType, violated]
Index: []

From the results above we can see that now there is no more month violation in 'OpenDate', we will now check for any month violation in 'CloseDate'

In [120]:
updateErlist('45177', '69122004','OpenDate','20122808T120000','20121208T120000','Integrity', 'changed from 28th month to 12th month')

In [121]:
#see if any months in CloseDate are greater than 12 that is the 5 and 6 digits
df['violated'] = df.apply(lambda row:int(re.search(r'(\d{4})(\d{2}).+',row['CloseDate']).group(2)) > 12  ,axis =1)
#empty means no violation
df[df['violated']]

Empty DataFrame
Columns: [Id, Title, Location, Company, Category, Salary, OpenDate, CloseDate, ContractTime, SourceName, ContractType, violated]
Index: []

There is no month integrity violation in 'CloseDate'

### 2.5.2 - Day Integrity

Here we check to see if any rows have more than 31 days. We assume all months have 31 days for simplicity

In [122]:
#see if any days in OpenDate are greater than 31 that is the 7 and 8 digits
df['violated'] = df.apply(lambda row:int(re.search(r'(\d{4})(\d{2})(\d{2}).+',row['OpenDate']).group(3)) > 31  ,axis =1)
df[df['violated']] # empty means no violation

Empty DataFrame
Columns: [Id, Title, Location, Company, Category, Salary, OpenDate, CloseDate, ContractTime, SourceName, ContractType, violated]
Index: []

There is no day violation in 'OpenDate'. We will know check for any violation in 'CloseDate'

In [123]:
#see if any days in CloseDate are greater than 31
df['violated'] = df.apply(lambda row:int(re.search(r'(\d{4})(\d{2})(\d{2}).+',row['CloseDate']).group(3)) > 31  ,axis =1)
df[df['violated']] # empty means no violation

Empty DataFrame
Columns: [Id, Title, Location, Company, Category, Salary, OpenDate, CloseDate, ContractTime, SourceName, ContractType, violated]
Index: []

There is no day violation in 'CloseDate'

### 2.5.3 - Date Integrity

Here we check if the year in 'OpenDate' is greater than the year in 'CloseDate'. If it is we then check set the year in 'CloseDate' to the year in 'OpenDate' plus one.

In [124]:
#check to see if year in opendate is greater than the year in closedate
df['violated'] = df.apply(lambda row: int(re.search(r'(\d{4}).+',row['OpenDate']).group(1)) > int(re.search(r'(\d{4}).+',row['CloseDate']).group(1)) ,axis =1)
df[df['violated']]#empty df means no violation

Empty DataFrame
Columns: [Id, Title, Location, Company, Category, Salary, OpenDate, CloseDate, ContractTime, SourceName, ContractType, violated]
Index: []

From the df there is no year violation. This also assumes that there wont be any month or day violation as well.

In [125]:
del df['violated'] # delete the violation column that we used for testing

## 2.6 Converting to appropriate datatypes

Here we convert the data type of each column to their appropriate data type as of right now they are all objects

In [126]:
#convert to open date and close date to datime data type
df['OpenDate'] = pd.to_datetime(df['OpenDate'], format = '%Y%m%dT%H%M%S')
df['CloseDate'] = pd.to_datetime(df['CloseDate'], format = '%Y%m%dT%H%M%S')
updateErlist('ALL','ALL','OpenDate,CloseDate','object datatype', 'datetime datatype','datatype issue', 'use datetime function')
df.head()

,Id,Title,Location,Company,Category,Salary,OpenDate,CloseDate,ContractTime,SourceName,ContractType
0,69249311,Development Management Team Manager,North West England,Matchtech Group plc.,Engineering Jobs,41000,2013-11-18 12:00:00,2014-01-17 12:00:00,non-specific,rengineeringjobs.com,non-specific
1,70676070,Senior Civil Infrastructure Engineer,Basingstoke,Matchtech Group plc.,Engineering Jobs,32000,2013-06-02 15:00:00,2013-06-16 15:00:00,non-specific,rengineeringjobs.com,non-specific
2,68805528,Highway Technician,Uk,Matchtech Group plc.,Engineering Jobs,19500,2012-12-24 15:00:00,2013-01-23 15:00:00,non-specific,rengineeringjobs.com,non-specific
3,71684871,Combustion Engineer Surrey And London upto ****k,London,Randstad,Engineering Jobs,33500,2012-10-19 12:00:00,2013-01-17 12:00:00,permanent,rengineeringjobs.com,non-specific
4,67944676,Automation Service Manager,Stockton-On-Tees,Matchtech Group plc.,Engineering Jobs,45000,2012-05-03 12:00:00,2012-05-17 12:00:00,non-specific,rengineeringjobs.com,non-specific

In [127]:
#convert Salary object datatype to float datatype
df['Salary'] = pd.to_numeric(df['Salary'])

In [128]:
#convert Id object datatype to int datatype
df['Id'] = pd.to_numeric(df['Id'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50703 entries, 0 to 50702
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            50703 non-null  int64
 1   Title         50703 non-null  object
 2   Location      50703 non-null  object
 3   Company       50703 non-null  object
 4   Category      50703 non-null  object
 5   Salary        50703 non-null  float64
 6   OpenDate      50703 non-null  datetime64[ns]
 7   CloseDate     50703 non-null  datetime64[ns]
 8   ContractTime  50703 non-null  object
 9   SourceName    50703 non-null  object
 10  ContractType  50703 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(1), object(7)
memory usage: 4.3+ MB

In [129]:
#convert all columns below to string
df[['Title','Location','Company','Category','ContractTime','SourceName','ContractType']] = df[['Title','Location','Company','Category','ContractTime','SourceName','ContractType']].astype(str)
df.dtypes

Id                       int64
Title                   object
Location                object
Company                 object
Category                object
Salary                 float64
OpenDate        datetime64[ns]
CloseDate       datetime64[ns]
ContractTime            object
SourceName              object
ContractType            object
dtype: object

## Saving data
Save the parsed and cleaned data as well as the error list, named as:
- \<student\_id\>_dataset1_solution.csv
- \<student\_id\>_errorlist.csv

In [130]:
# code to save output data
print(df.shape)
print(errlist.shape)

(50703, 11)
(60076, 7)

In [131]:
df.head()

,Id,Title,Location,Company,Category,Salary,OpenDate,CloseDate,ContractTime,SourceName,ContractType
0,69249311,Development Management Team Manager,North West England,Matchtech Group plc.,Engineering Jobs,41000.0,2013-11-18 12:00:00,2014-01-17 12:00:00,non-specific,rengineeringjobs.com,non-specific
1,70676070,Senior Civil Infrastructure Engineer,Basingstoke,Matchtech Group plc.,Engineering Jobs,32000.0,2013-06-02 15:00:00,2013-06-16 15:00:00,non-specific,rengineeringjobs.com,non-specific
2,68805528,Highway Technician,Uk,Matchtech Group plc.,Engineering Jobs,19500.0,2012-12-24 15:00:00,2013-01-23 15:00:00,non-specific,rengineeringjobs.com,non-specific
3,71684871,Combustion Engineer Surrey And London upto ****k,London,Randstad,Engineering Jobs,33500.0,2012-10-19 12:00:00,2013-01-17 12:00:00,permanent,rengineeringjobs.com,non-specific
4,67944676,Automation Service Manager,Stockton-On-Tees,Matchtech Group plc.,Engineering Jobs,45000.0,2012-05-03 12:00:00,2012-05-17 12:00:00,non-specific,rengineeringjobs.com,non-specific

In [132]:
df.to_csv('s3783560_dataset1_solution.csv',index = False)
errlist.to_csv('s3783560_errorlist.csv',index = False)

## Summary
Give a short summary and anything you would like to talk about the assessment here.

In this notebook, we first extract the data from the xml file. First we extract the attributes of the "Position" tag which contained the "OpenDate" and "CloseDate". Next we extract the Positions children - "Id", "Title", "Location", "Company", "Category" , "Salary", "ContractTime", "ContractType". While extract the children we append 'None' if the current row did not contain any of the elements above. Finally we extract the source name which we repeated for number of times corresponding to how many position elements there were in the Source tag.

Cleaning the data, took most of the bulk, where there were data inconsistency, irregaularties and missing data in general. These were dealt with appropriately, using various methods such as utilising regex and imputating values with different functions. There were also integrity contraint errors which we also handled appropriately.

Finally we ensured that all data types where correct before saving and extracting and clean dataset. A seperately csv was also saved and extract which recorded all the errors and how we handled them.